<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<title>::DSNY::</title>
	
</head>
<body>
    <div class="main-container">
        
        <div class="middle_content">
            <div class="container  pt-2  pr-2 pl-2">
                <div class="w-100 p-2 bg-white-color shadow p-3 mb-2">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 text-center pl-0">
                            <div class="bg-warning  pt-2 pb-2 pr-5  text-white float-left"><span class="pt-0 pr-3 pl-5">Manage Users</span></div>
                            <!--<div class="bg-warning arrow "></div>-->
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 d-none d-md-block">
                            <button type="button" class="btncreate btn-sm rounded-0 float-right pt-2 pl-2 pr-2 pb-2 text-white border-0">
                                <i class="fa fa-user-plus" aria-hidden="true"></i> &nbsp; Add New user
                            </button>
                        </div>
                    </div>

                    <div class="col-12 mt-4 overflow-auto" style="max-height:50vh;">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-sm table-hover font-size table-bordered">
                                    <thead class="header-fixed">
                                        <tr class="text-white" style="background-color:#72BB47;">
                                            <th>Title</th>
                                            <th>Name</th>
                                            <th>User ID</th>
                                            <th>Badge #</th>
                                            <th>Email</th>
                                            <th>Effective Date</th>
                                            <th>Appt Date</th>
                                            <th>Supervisor ?</th>
                                            <th>Enabled ?</th>
                                            <th colspan="3">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Mr.</td>
                                            <td>John Zerasci</td>
                                            <td>324798</td>
                                            <td>novas\jzerasci</td>
                                            <td>jzerasci@novas.com</td>
                                            <td>1/22/2019</td>
                                            <td>1/22/2019</td>
                                            <td>Yes</td>
                                            <td>Yes</td>
                                            <td colspan="3" class="pt-0 pl-0 pr-0">
                                                <table class="pl-0 pr-0 w-100">
                                                    <tr>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-th-large table-icons-color" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-pencil table-icons-color" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-trash-o table-icons-color" aria-hidden="true"></i>

                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Mr.</td>
                                            <td>John Zerasci</td>
                                            <td>324798</td>
                                            <td>novas\jzerasci</td>
                                            <td>jzerasci@novas.com</td>
                                            <td>1/22/2019</td>
                                            <td>1/22/2019</td>
                                            <td>Yes</td>
                                            <td>Yes</td>
                                            <td colspan="3" class="pt-0 pl-0 pr-0">
                                                <table class="pl-0 pr-0 w-100">
                                                    <tr>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-th-large table-icons-color" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-pencil table-icons-color" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-trash-o table-icons-color" aria-hidden="true"></i>

                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Mr.</td>
                                            <td>John Zerasci</td>
                                            <td>324798</td>
                                            <td>novas\jzerasci</td>
                                            <td>jzerasci@novas.com</td>
                                            <td>1/22/2019</td>
                                            <td>1/22/2019</td>
                                            <td>Yes</td>
                                            <td>Yes</td>
                                            <td colspan="3" class="pt-0 pl-0 pr-0">
                                                <table class="pl-0 pr-0 w-100">
                                                    <tr>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-th-large table-icons-color" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-pencil table-icons-color" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-trash-o table-icons-color" aria-hidden="true"></i>

                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Mr.</td>
                                            <td>John Zerasci</td>
                                            <td>324798</td>
                                            <td>novas\jzerasci</td>
                                            <td>jzerasci@novas.com</td>
                                            <td>1/22/2019</td>
                                            <td>1/22/2019</td>
                                            <td>Yes</td>
                                            <td>Yes</td>
                                            <td colspan="3" class="pt-0 pl-0 pr-0">
                                                <table class="pl-0 pr-0 w-100">
                                                    <tr>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-th-large table-icons-color" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-pencil table-icons-color" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-trash-o table-icons-color" aria-hidden="true"></i>

                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Mr.</td>
                                            <td>John Zerasci</td>
                                            <td>324798</td>
                                            <td>novas\jzerasci</td>
                                            <td>jzerasci@novas.com</td>
                                            <td>1/22/2019</td>
                                            <td>1/22/2019</td>
                                            <td>Yes</td>
                                            <td>Yes</td>
                                            <td colspan="3" class="pt-0 pl-0 pr-0">
                                                <table class="pl-0 pr-0 w-100">
                                                    <tr>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-th-large table-icons-color" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-pencil table-icons-color" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-trash-o table-icons-color" aria-hidden="true"></i>

                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Mr.</td>
                                            <td>John Zerasci</td>
                                            <td>324798</td>
                                            <td>novas\jzerasci</td>
                                            <td>jzerasci@novas.com</td>
                                            <td>1/22/2019</td>
                                            <td>1/22/2019</td>
                                            <td>Yes</td>
                                            <td>Yes</td>
                                            <td colspan="3" class="pt-0 pl-0 pr-0">
                                                <table class="pl-0 pr-0 w-100">
                                                    <tr>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-th-large table-icons-color" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-pencil table-icons-color" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-trash-o table-icons-color" aria-hidden="true"></i>

                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Mr.</td>
                                            <td>John Zerasci</td>
                                            <td>324798</td>
                                            <td>novas\jzerasci</td>
                                            <td>jzerasci@novas.com</td>
                                            <td>1/22/2019</td>
                                            <td>1/22/2019</td>
                                            <td>Yes</td>
                                            <td>Yes</td>
                                            <td colspan="3" class="pt-0 pl-0 pr-0">
                                                <table class="pl-0 pr-0 w-100">
                                                    <tr>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-th-large table-icons-color" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-pencil table-icons-color" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-trash-o table-icons-color" aria-hidden="true"></i>

                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Mr.</td>
                                            <td>John Zerasci</td>
                                            <td>324798</td>
                                            <td>novas\jzerasci</td>
                                            <td>jzerasci@novas.com</td>
                                            <td>1/22/2019</td>
                                            <td>1/22/2019</td>
                                            <td>Yes</td>
                                            <td>Yes</td>
                                            <td colspan="3" class="pt-0 pl-0 pr-0">
                                                <table class="pl-0 pr-0 w-100">
                                                    <tr>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-th-large table-icons-color" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-pencil table-icons-color" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-trash-o table-icons-color" aria-hidden="true"></i>

                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Mr.</td>
                                            <td>John Zerasci</td>
                                            <td>324798</td>
                                            <td>novas\jzerasci</td>
                                            <td>jzerasci@novas.com</td>
                                            <td>1/22/2019</td>
                                            <td>1/22/2019</td>
                                            <td>Yes</td>
                                            <td>Yes</td>
                                            <td colspan="3" class="pt-0 pl-0 pr-0">
                                                <table class="pl-0 pr-0 w-100">
                                                    <tr>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-th-large table-icons-color" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-pencil table-icons-color" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td class="border-0">
                                                            <a href="#">
                                                                <i class="fa fa-trash-o table-icons-color" aria-hidden="true"></i>

                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-2 text-center d-flex justify-content-center" style="height:30px;">
                        <ul class="pagination h-100">
                            <li class="page-item h-100"><a class="page-link h-100" href="#">Previous</a></li>
                            <li class="page-item active h-100"><a class="page-link h-100" href="#">1</a></li>
                            <li class="page-item h-100"><a class="page-link h-100" href="#">2</a></li>
                            <li class="page-item h-100"><a class="page-link h-100" href="#">3</a></li>
                            <li class="page-item h-100"><a class="page-link h-100" href="#">Next</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>


        <!--Footer-->
        <div class="footer text-white w-100">
            <div class="col-12 h-100 ">
                <div class="row h-100 align-items-center d-flex">
                    <div class="col-xs-12 col-sm-6 h-100 justify-content-center justify-content-md-start align-items-center d-flex small text-white">
                        © New York Department of Sanitation
                    </div>

                    <div class="col-xs-12 col-sm-6 h-100 align-items-center d-flex h-100  justify-content-center justify-content-md-end small text-white">
                        DSNY Novas System &nbsp; &nbsp;  <strong class="lead font-weight-bold">NYC</strong>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->

    </div>
<!-- javascript files -->
	<script type="text/javascript" src="js/jQuery.js"></script>
	<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
	<script>
            $(function () {
                $(".datepicker").datepicker();
            });
        </script>
</body>
</html>